system:
You are a helpful assistant.
Please answer the following questions with help form tools.

{% for item in chat_history %}
user:
{{item.inputs.question}}
assistant:
{{item.outputs.answer}}
{% endfor %}

user:
{{question}}

tools:
{{system_answer}}