# huggingface_hub==0.23.0
huggingface_hub==0.23.4

# transformers==4.41.2
transformers==4.42.4

# urllib3==1.26.16
# urllib3>=2.0.7

jsonschema==4.19.0
# for showing download widget in jupyter notebook
ipywidgets==8.1.0
# for python script input arg generation
click==8.1.7

# pypdf==3.15.5
pypdf==4.2.0

# torch==2.1.2
# torchaudio==2.1.2
# torchvision==0.16.2
# fastai==2.7.13

# Testing MPS memory features
# torch==2.2.2
# torchaudio==2.2.2
# torchvision==0.17.2

torch==2.3.1
torchaudio==2.3.1
torchvision==0.18.1

# vision library
# fastai==2.7.14 # fastai depends on torch version
fastai==2.7.15

## langchain LLM
# langchain==0.1.14
# langchain==0.1.20
langchain==0.2.5
langchain-community==0.2.5

# need Pydantic 1.10.12 to better evaluate typehints
# https://github.com/langchain-ai/langchain/issues/8577#issuecomment-1663249273
# pydantic==1.10.13
# pydantic==2.7.1
pydantic==2.7.4

# docarray doesn't work with pydantic 2.xx, pydantic_core is installed with 2.xx, must be removed. 
# pydantic>=1.10.13 # typehints
# unstructured==0.13.7  # for langchain S3DirectoryLoader to load txt file
unstructured==0.14.6

# for langchain vectorestore embedding model
# sentence-transformers==2.7.0
sentence-transformers==3.0.1
# langchain DocArrayInMemorySearch nned docarray
docarray==0.40.0

# llama-index==0.9.8.post1

# s3 client
# boto3==1.34.76
boto3==1.34.128

## GPU/MPS training speed up for tranformers
# accelerate==0.31.0
accelerate==0.32.1

# peft==0.10.0
peft==0.11.1

# For tensorflow and macosx m1 gput
# tensorflow==2.14.1
# backend of pretrained google model from tensorflow hub are on Kaggle
tensorflow==2.16.1 
tensorflow-metal==1.1.0
tensorflow-hub==0.16.1

## install huggingface datasets for fine-tuning on MPS backend device using torch
# datasets==2.19.1
datasets==2.20.0
# huggingface evaluate for evaluate the fine-tuned model
evaluate==0.4.2


# transformer model quantization
bitsandbytes==0.42.0
# bitsandbytes==0.43.1

# install your own gitlab package 
# --index-url https://gitlab.lrz.de/api/v4/projects/150553/packages/pypi/simple
# --trusted-host https://gitlab.lrz.de
applyllm==0.0.6

faiss-cpu==1.8.0

# langchainhub==0.1.15
langchainhub==0.1.20

# For Stable DiffusionPipeline
# diffusers==0.29.0
diffusers==0.29.2

# open ai
# openai==1.30.1
openai==1.34.0

# autogenstudio
# https://github.com/microsoft/autogen/tree/main/samples/apps/autogen-studio
# autogenstudio==0.1.2
# pyautogen==0.2.29
autogenstudio==0.1.3
pyautogen==0.2.32

#phi 
# flash_attn==2.5.8
einops==0.8.0
# triton==2.3.1
# tritonclient==2.47.0
# pytest==8.2.2
